SUPABASE_URL=https://your-supabase-url.supabase.co
SUPABASE_KEY=your-supabase-key
POSTGRESQL_URL=postgresql://postgres.rmrupeeqesdbwgiwchts:your-postgres-password@aws-1-us-east-2.pooler.supabase.com:6543/postgres
SECRET_KEY=your-secret-key
ALGORITHM=your-algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=your-access-token-expire-minutes