services:
  api:
      build: .
      ports:
        - "8000:8000"
      env_file:
        - ./.env.dev
      volumes:
        - ./:/usr/src/app:ro
      command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
      depends_on:
        - database  
  database:
      image: postgres:13
      env_file:
        - ./.env.dev
      ports:
        - "5432:5432"
      volumes:
        - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: